<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button @click="add(10)">Add 10</button>
      <button v-on:click="reduce(5)">Subtract 5</button>
      <p>Result: {{ counter }}</p>
<!--      <input type="text" :value="name" v-on:input="setName($event, 'Schwarzmüller')">-->
      <input type="text" v-model="name">
      <input type="text" v-model="lastName">
      <button v-on:click="resetInput">Reset Input</button>
      <p>Your Name: {{ fullname }}</p>
      <!-- 不適合在html的{{  }}中寫vue methods，因為當任何頁面的資料有被異動，
      都會讓Vue去觸發methods，因為Vue不知道methods是否該不該執行 -->
    </section>
  </body>
</html>
